.navbar{
    background-color: #099268;
}
a{
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 2px;
}
a:hover{
    background-color: rgb(204, 248, 204);
    color: green;
}
.active{
    color: #001a00;
    /* font-style: italic; */
    font-weight: bold;
    /* background-color: aliceblue; */
}

