
    <div class="container">
        <div class="row">
            <strong class="mt-1" id="success">

            </strong>
            <!-- <strong class="text-danger mt-1" id="failure">

            </strong> -->
        </div>
        <div class="row mt-3">
            <input id="origin-input" disabled class="form-control shadow" type="text" placeholder="Enter Location"/>
        </div>
        
        <div class="row">
            <div class="full" id="map"></div>
        </div>
    </div>
