<div class="container">
  <div class="row m-3">
    <!-- <div class="d-flex"> -->
      <input id="origin-input" class="form-control col shadow" type="text" placeholder="Enter pickup location"/>
      <input id="destination-input" class="form-control col shadow" type="text" placeholder="Enter drop off location"/>
    <!-- </div> -->
  </div>
  <div class="row mt-3 mb-3">
    <div class="col text-success" id="distance"> </div>
    <div class="col text-success" id="duration"> </div>
  </div>
  <div class="row ">
    <div class="full" id="map"></div>
  </div>
  
</div>

